<article>
    {% if post.title != None %}
    <h4>{{ post.title }}</h4>
    {% endif %}
    <table class="table">
        <tr>
            <td>
                <img src="{{ post.author.avatar(36) }}">
                <a href="{{ url_for('profile.profile', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted" style="font-style: italic;">
                posted at {{ moment(post.timestamp).format('LLL') }}</small>
                {% if current_user.username == post.author.username %}
                <a style="float:right;" href="{{ url_for('main.edit_post', post=post.id)}}">Edit</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
            {{ post.body|markdown }}
            <small>
                {% if post.last_edited_timestamp != None %}
                <span class="text-muted">
                Last edited {{ moment(post.last_edited_timestamp).fromNow() }}</span>
                {% endif %}
                <a href="{{ url_for('main.view_post', post=post.id) }}">Permalink</a>
            </small>
            </td>
        </tr>
    </table>
</article>