<article>
    {% if post.title != None %}
    <h3>{{ post.title }}</h3>
    {% endif %}
    <table class="table">
        <tr>
            <td>
                <img src="{{ post.author.avatar(36) }}">
                {{ post.author.username }}
                <small class="text-muted" style="font-style: italic;">posted at {{ post.timestamp }}</small>
                {% if current_user.username == post.author.username %}
                <a style="float:right;" href="">Edit</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
            {{ post.body|markdown }}
            <a href="{{ url_for('main.viewPost', post=post.id) }}">Permalink</a>
            </td>
        </tr>
    </table>
</article>