{% extends 'bootstrap/base.html' %}

{% block title %}Stublog!{% endblock %}

{% block navbar %}
    <nav class ="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    Stublog!
                </a>
            </div> <!-- /.navbar-header -->
            
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.submitPost')}}">Submit Post</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li><a href="">Profile - {{ current_user.username }}</a></li> 
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div> <!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    {% block app_content %} {% endblock %}
{% endblock %}