{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<section class="container">
    <h2>Edit Post</h2>
    <p>
        Posts are formatted as markdown, <a href="https://daringfireball.net/projects/markdown/syntax">Markdown details</a>.
    </p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <a class="btn btn-default" 
       style="background-color:lightcoral; margin-top:5em;" 
       href=""
       onclick="deletePost(); return false;">
        DELETE POST
    </a>
</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function deletePost() {
            if (confirm('Are you sure you want to delete this post?')) {
                window.location.replace("{{ url_for('main.delete_post', post=post.id, confirm=True) }}");
                return true;
            }
        }
    </script>
{% endblock %}