{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=o2xp82bqxprpd8r2rfavh4hfvs8exznpqqpkoxlp3mktxxti'></script>
  <script>
  tinymce.init({
    selector: 'textarea'
  });
</script>

<section class="container">
    <h2>Submit Post</h2>
    <div class="row">
        <div class="col-md-8">
            <form class="form" action ="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.title) }}
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ wtf.form_field(form.body, rows=25, cols=100) }}
                <p>{{ wtf.form_field(form.submit) }}</p>
                {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=o2xp82bqxprpd8r2rfavh4hfvs8exznpqqpkoxlp3mktxxti'></script>
    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>
{% endblock %}